#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: #eee;
 width: 100%;
  display: grid;
  // grid-template-rows: 150px 200px 200px; 
  grid-template-columns: repeat(3, 1fr);
  margin: 30px auto;
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* Set 2 columns with equal width */
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr); /* Set 1 column with equal width */
  }
    
  }

h1 {
  font-size: 3.5rem;
  text-align: start;
}

.images {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}
.author{
  text-align: start;
}
.date{
  text-align: start;
  margin: 0 10px 0 10px;
}
.section{
  text-align: start;
  background-color: blueviolet;
  color: #fff;
  display: block;
  max-width: fit-content; 
  padding: 5px;
}
.title{
  text-align: start;
}

.item {
  padding: 20px;
  margin: 20px;

  &s--2 {
    background-color: #fff;
  }

}

.cards:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

